// .container{

//     margin-top: 20px;
//     max-height: 800px;
//     max-width: 800px;

//     border-top-left-radius: 80px;
//     border-top-right-radius: 80px;
//     border-bottom-left-radius: 100px;
//     border-bottom-right-radius: 100px;
//     margin-bottom: 50px;

//     border-left: 2px solid #40c114;
//     border-bottom: 2px solid #40c114;
//     border-right: 2px solid #40c114;
//     box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
//     rgba(0, 0, 0, 0.05) 0px 5px 10px;

// }
// .heading{
//     padding-top: 10px;
//     max-width: 100%;
//     border-top-left-radius: 500px;
//     border-top-right-radius: 500px;
//     text-align: center;
//     color:white;
//     background-color: #ff636379;
//     background-position:1000mm;
//     svg {
//         color: #ffffff;
//         font-size: 25px;
//       }

// }
// .profilecard img{

//     border-radius: 100px;
//     max-height: 350px;
//     max-width: 300px;
//     object-fit: cover;
//     // margin-bottom: 16px;
// }
// .profilecard{
//     max-height: 800px;
//     max-width: 800px;
//     display: flex;
//     justify-content:space-evenly;
//     flex-wrap:wrap;
//     max-width: 900px;
//     align-items: center;
//     margin: auto;
// }
// .user_details{
//     padding:15px;
//     max-width: 300px;
//     font-weight: 600;
//     font-size: 0.8rem;
// }
// .detail{
//     font-weight: 500;
//     font-size: 15px;
// }

// .detail-value{
//     display:block;
//     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//     border-radius: 5px;
//     min-width: 280px;
//     max-width: 300px;
//     min-height: 30px;
//     padding: 6px;
//     background-color: rgb(247, 247, 247);
//     margin-top: 4px;
//     color: rgb(133, 133, 133);
//     font-size: 1rem;
// }
// .user-data{
//     display:block;
//     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//     border-radius: 5px;
//     min-width: 280px;
//     max-width: 300px;
//     min-height: 30px;
//     padding: 6px;
//     background-color: rgb(247, 247, 247);
//     margin-top: 4px;
//     color: rgb(133, 133, 133);
//     font-size: 1rem;
//     margin-bottom: 10px;
// }
// .card-info{
//     max-width: 300px;
//     font-weight: 600;
//     font-size: 0.8rem;
// }

// @media (max-width:631px){
//     .container{
//         justify-content: center;
//     }
// }

.update-btn {
  background: #03770f;
  padding: 5px 10px;
  margin-top: 20px;
  font-size: 16px;
  font-family: Alata;
  border-radius: 13px;
  color: #fff;
  font-weight: 500;
  border: none;
  transition: all 0.2s;
  &:hover {
    background: #023b13;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
}

.head-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  font-weight: 400;
  color: rgb(6, 6, 6);
  svg{
    color:#ff6363;
    font-size: 40px;
  }
}
.outer-container {
  min-height: 100vh;
  background-color: rgb(231, 231, 231);
  
  
;

}
.profile-container {
  width: 100%;
}
.profile-card {
  background-image: url("https://i.stack.imgur.com/SvWWN.png");
  object-fit: cover;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.card-info {
    color:#fff;
  max-width: 300px;
  font-weight: 600;
  font-size: 0.8rem;
}
.profile-card img {
  max-height: 350px;
  border-radius: 12%;
  object-fit: cover;
  max-width: 300px;
}
.user-data {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  min-width: 280px;
  max-width: 300px;
  min-height: 30px;
  padding: 6px;
  background-color: rgb(247, 247, 247);
  margin-top: 4px;
  color: rgb(133, 133, 133);
  font-size: 1rem;
}
@media (max-width: 631px) {
  .profile-card {
    justify-content: center;
  }
}
