// .btn-payment{
//     border: 3px solid #ff6363;
//     background-color: #ff6363;
//     color: #ffff;
//     @media (max-width: 380px) {
//       font-size: 18px;
//     }
//   }

 .rented-book__img {
    max-width: 180px;
    object-fit: contain;
    margin-right: 20px;
    @media (max-width: 550px) {
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }
.book-cards{
  .btn-return {
    border: 3px solid #ffffff;
    background-color: #20ac30;
    color: rgb(255, 255, 255);
    @media (max-width: 380px) {
      font-size: 18px;
    }
  .btn-return:hover {
    border: 3px solid #8a8a05;
    background-color: #676702;
    color: #ffffff;
    }
  }
  
}