.card-details{
    font-family: "Poppins" !important;
    font-style: normal;
    font-weight: 600;
}

.contact{
    font-family: "Poppins" !important;
    font-style: normal;
    font-weight: 600;
    background: url("../assets/back.jpg");
}