.forget-container {
    position: relative;
    height: 90vh;
    background: url("../assets/background.svg");
    background-size: cover;
    @media (max-width: 578px) {
      background: none;
    }
  }
  
  .forget {
    background-color: #fff;
    max-width: 561px;
    margin: 77px auto;
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    padding: 70px 70px;
    @media (max-width: 578px) {
      margin: 77px 10px;
    }
    @media (max-width: 940px) {
      padding: 28px 40px;
    }
    @media (max-width: 420px) {
      padding: 20px 15px;
    }
    &__heading {
      font-weight: 500;
      font-size: 40px;
      margin-bottom: 50px;
      margin-left: 45px;
      @media (max-width: 940px) {
        font-size: 24px;
      }
    }
    &__sub-heading {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 30px;
      @media (max-width: 940px) {
        font-size: 14px;
      }
    }
    &__form {
      width: 100%;
    }
    &__input {
      position: relative;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      input {
        outline: none;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        border: 2px solid #d3d3d3;
        border-radius: 12px;
        padding: 12px 40px 12px 12px;
        transition: all 0.3s;
        &::placeholder {
          color: #b3b3b3;
        }
        &:active,
        &:focus {
          border-color: #1a6d25;
        }
        @media (max-width: 940px) {
          font-size: 16px;
        }
      }
      &--icon {
        color: #c2bdbd;
        position: absolute;
        top: 13px;
        right: 10px;
      }
    }
    &__btn {
      width: 100%;
      padding: 15px;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 21px;
      background: #1a6d25;
      border-radius: 12px;
      color: #fff;
      border: none;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      @media (max-width: 940px) {
        font-size: 18px;
      }
    }
}

.feild_heading{
    font-size: 18px;
    font-weight:lighter;
    margin-top: 15px;
    margin-bottom: 5px;
}