.form-title {
  background-color: #f8f8f8;
  font-size: 24px;
  font-weight: 800;
  color: #686767;
}

.rent-heading {
  font-weight: 600;
  color: white;
}
.rent-heading-container {
  background-color: #ff6363;
}
