.dashboard-container {
  position: relative;
}
.dashboard-btn {
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
  font-size: 40px;
  color: rgb(255, 118, 118);
  padding: 2px;
  border-radius: 8px;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  z-index: 20;
  @media (max-width: 750px) {
    display: block;
  }
}
.dashboard {
  position: relative;
  @media (max-width: 750px) {
    display: block;
  }
  display: flex;
  min-height: 100vh;
}

.dashboard-body {
  padding: 10px;
  flex: 1;
}

.dash-nav {
  @media (max-width: 750px) {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
  }
  padding: 30px 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  &__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    &--img {
      border-radius: 50%;
      height: 65px;
      width: 65px;
      object-fit: cover;
      margin-bottom: 16px;
    }
    &--username {
      font-family: "Alata";
      font-size: 16px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: "Alata";
    font-size: 14px;
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
    &--icon {
      margin-right: 10px;
      color: #94989b;
      font-size: 25px;
      transition: all 0.2s;
    }
    &:hover {
      color: #ff6363;
      transition: all 0.2s;
      svg {
        color: #ff6363;
      }
    }
  }

  &__close {
    transform: translateX(-100vw);
    transition: all 0.2s;
  }
  &__open {
    transform: translateX(0);
    transition: all 0.2s;
  }
}
.divider {
  width: 100%;
  height: 1px;
  background: #94989b;
}
.mybooks-container {
  padding: 20px;
}

.add-book {
  flex: 1;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  &__btn {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: linear-gradient(
      180deg,
      #ff6363 0%,
      rgba(157, 74, 38, 0.61) 100%
    );

    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    svg {
      margin-left: 10px;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
    }
  }
}

.tabs {
  background: #f8f8f8;
  display: flex;
  padding: 0 20px;
  margin-bottom: 20px;
  border-top: 3px solid #f8f8f8;
  &__tab {
    padding: 10px 0;
    margin-right: 20px;
    border-bottom: 3px solid #f8f8f8;
    font-weight: 500;
    font-size: 14px;
    color: #8e8e8e;

    cursor: pointer;
    &:hover {
      border-color: #ff6363;
    }
    &--open {
      border-color: #ff6363;
    }
  }
}
