#heading th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #36906f;
    color: white;
  }

  .table-title{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: bolder;
    font-size: 58px;

  }

  .approve--btn {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 500;
    background: #64a36e;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    svg {
      margin-left: 5px;
    }
    &:hover {
      background: #447c4d;
    }
  }

  
  .reject--btn {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 500;
    background: #d43131;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    svg {
      margin-left: 5px;
    }
    &:hover {
      background: #9e0404;
    }
  }

  .table-img{
    max-width:200px;
  }

  .pending-color{
    color: #e0bd10;
    font-weight: bold;
  }